@media(max-width: 1200px){
    .cabeçalho{
        max-width: 100%;
        height: 100%;
        display: flex;
        gap: 5px;

    }

    .cabeçalho .logo{
        max-width: 85%;
        
    }
    .cabeçalho .títulologo{
        max-width: 100%;
        padding-top: 5px;
        font-size: 15px
    }
    .container{
        justify-content: center;
        margin: 0;
        padding-bottom: 40px;
        
    }
    .container .titulotecnico{
        font-size: 40px
    }

    .container .titulocontato{
        font-size: 30px
    }
    
    .container .descrição{
        flex-wrap: wrap;
        padding: 50px 10px 50px;
        margin: 0 0 0 50px;
        font-size: 20px;
    }

    .container .botões{
        height: 100%;
        padding:60px 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-left: 50px;
    }
    .rodapé{
        display: flex;
        justify-content: center;
    }
    
}

@media(max-width:800px) {
    .container{
        padding-bottom: 100px;
    }

    .container .descrição{
        font-size: 20px;
    }
    .rodapé{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 500px) {
    
    .cabeçalho{
        max-width: 100%;
        gap: 5px;
        padding: 0;
        margin: 10px 10px 0 0;
        display: flex;
        flex-wrap: wrap ;
        flex-direction: column;
        align-content: center; 
        
    }
    .cabeçalho .logo{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 1px 0 2px 75px;
    }  
    .cabeçalho .títulologo{
        margin-bottom: 3px;
        font-size: 17px;
    }  
    .container{
        max-width: 100%;
        padding: 50px 0 50px 0;
    }

    .container .titulotecnico{
        justify-content: center;
        margin: 10px 0 0 0;
        font-size: 37px;
    }

    .container .titulocontato{
        display: flex;
        justify-content: center;
    }
    .container .descrição{
        font-size: 15px;
        justify-content: center;
        padding: 40px 0 40px 0;
        margin-left: 70px;
        display: flex;
    }
    .container .botões{
        font-size: 15px;
        display: flex;
        align-content: center;
        margin: 0 0 0 72px;
    }
    .rodapé{
        font-size: 17px;
        display: flex;
        text-align: center;
        height: 100%;
    }
}


@media (max-width: 376px){

    .container .titulologo{
        font-size: 40px;
        gap: 20px;
        padding-top: 50px;
        padding: 100px 0 10px 0;
    }

    .container .titulotecnico{
        font-size: 33px;
    }
    .container .titulocontato{
        font-size: 30px;
    }
    .cabeçalho .logo{
        height: 100%;
        display: flex;
        text-justify: center;
    }
    .container {
        display: flex;
        padding: 30px 0 30px 0px;
        margin:  0 0 0 0;
    }
    .container .descrição{
        display: flex;
        text-align:center;
        font-size: 18px;
        margin-left: 50px;
    }

    .container .botões{
        padding-top: 20px; 
    }
    
}
